option_settings:
  aws:elasticbeanstalk:application:environment:
    QBOTIO_SETTINGS_PATH: /usr/local/share/qbotio-back-end
  aws:elasticbeanstalk:container:python:
    WSGIPath: web/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: www/static/
commands:
  01_create_log:
    command: touch /var/log/qbotio-api.log
  02_change_log_owner:
    command: chown wsgi:wsgi /var/log/qbotio-api.log
  03_create_shared_dir:
    command: mkdir -p /usr/local/share/qbotio-back-end
  04_permission_shared_dir:
    command: chown wsgi:wsgi /usr/local/share/qbotio-back-end
container_commands:
  collectstatic:
    command: python manage.py collectstatic --noinput
  01_copy_json_settings:
    command: sudo aws s3 cp s3://elasticbeanstalk-us-west-1-015909955856/qbotio-api/settings.json /usr/local/share/qbotio-back-end/
  02_install_nltk_data:
    command: python resources/nltk_download.py -d /usr/local/share/nltk_data
