options_settings:
  "aws:elasticbeanstalk:application:environment":
    QBOTIO_SETTINGS_PATH: /usr/local/share/qbotio-back-end
commands:
  01_copy_json_settings:
    command: sudo aws s3 cp s3://elasticbeanstalk-us-west-2-015909955856/qbotio-back-end/settings.json /usr/local/share/qbotio-back-end/
    