option_settings:
  aws:elasticbeanstalk:application:environment:
    QBOTIO_SETTINGS_PATH: /usr/local/share/qbotio-back-end
  aws:elasticbeanstalk:container:python:
    WSGIPath: web/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"
container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput"
  01_copy_json_settings:
    command: sudo aws s3 cp s3://elasticbeanstalk-us-west-1-015909955856/qbotio-api/settings.json /usr/local/share/qbotio-back-end/
  02_install_nltk_data:
    command: "python nltk_download.py"